<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - C-Банк</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/styles.css') }}"
    />
</head>
<body>
    <header>
        <h1>О нас</h1>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="error.html">Ошибка</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Наша Миссия</h2>
            <p>Мы стремимся предоставлять нашим клиентам лучшие финансовые услуги и поддержку.</p>
        </section>

        <section>
            <h2>Наша История</h2>
            <p>C-Банк был основан в 2023 году с целью улучшения финансового обслуживания в нашем регионе.</p>
        </section>

        <section>
            <h2>Наша Команда</h2>
            <p>Наша команда состоит из опытных профессионалов, готовых помочь вам в любых финансовых вопросах.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 C-Банк. Все права защищены.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
