<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка 404 - C-Банк</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/styles.css') }}"
    />
</head>
<body>
    <header>
        <h1>Ошибка 404</h1>
        <nav>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="error.html">Ошибка</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Страница не найдена</h2>
            <p>К сожалению, запрашиваемая вами страница не существует. Пожалуйста, проверьте URL или вернитесь на главную страницу.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 C-Банк. Все права защищены.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>
