<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C-Банк</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='/css/styles.css') }}"
    />
</head>
<body>
    <header>
        <h1>Добро пожаловать в C-Банк</h1>
        <nav>
            <ul>
                <li><a href="about">О нас</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>О нас</h2>
            <p>C-Банк был основан в 2023 году и с тех пор предоставляет качественные финансовые услуги.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 C-Банк. Все права
